root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{php,blade.php}]
indent_size = 4

[*.{js,ts,tsx,jsx,vue}]
indent_size = 2

[*.{md,yaml,yml}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{bat,cmd}]
end_of_line = crlf